<header class="header">

    <button aria-expanded="false" aria-controls="menu" aria-label="Click to open the menu" class="bt-menu"><svg class="icon-top icon-menu"><use xlink:href="#icon-menu"></use></svg></button>
    <nav class="menu">
        <a aria-label="Back to home page" href="/"> Home </a>
        <a aria-label="About us" href="/announcements"> Announcements </a>
        <a aria-label="Our events" href="/events">Events</a>
        <a aria-label="People who run THSOC" href="/team"> Our Team </a>
        <a aria-label="My blog" href="/about"> About </a>
    </nav>


</header>
